@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
	font-size: 16px;
	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

section {
	height: 100vh;
	z-index: -2;
}

section:nth-child(2) {
	background-color: #212121;
	padding-top: 120px;
	display: flex;
	flex-direction: row;
	position: relative;
	overflow: hidden;
}
section:nth-child(3) {
	background-color: red;
}
section:nth-child(4) {
	background-color: purple;
}

section:nth-child(2) h1 {
	color: #fff;
	font-size: 30px;
}

section:nth-child(2) h1 span {
	font-size: unset;
}

section:nth-child(2) h1 div.type {
	width: 4px;
	height: 30px;
	margin-bottom: -2px;
	margin-left: -4px;
	display: inline-block;
	background-color: #fff;
	animation: typing 0.45s infinite;
}

@keyframes typing {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

section:nth-child(2) div {
	display: flex;
	flex: 1;
	justify-content: flex-start;
	align-items: center;
}

section:nth-child(2) div.bg {
	position: absolute;
	background-color: #1fddbd;
	clip-path: polygon(44% 0, 100% 0%, 55% 100%, 0% 100%);
	transform: scale(1);
	width: calc((100vh - 120px) * 0.64);
	height: calc(100vh - 120px);
	animation: transition 30s infinite linear;
}

@keyframes transition {
	0% {
	}
	100% {
		right: calc(100vw + 500px);
	}
}

section:nth-child(2) div.bga {
	display: unset;
	flex: unset;
	position: absolute;
	width: 100vw;
	height: calc(100vh - 120px);
	z-index: -1;
	filter: blur(0.6rem);
}
